VITE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/pub?output=csv
VITE_INVENTORY_SCRIPT_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec
VITE_OCR_SCRIPT_URL=https://script.google.com/macros/s/YOUR_OCR_SCRIPT_ID/exec
